In [66]:
import pandas as pd

In [67]:
columns = ['author','url', 'bookname', 'describe', 'number''author', 'price', 'rating', 'ratingcount', 'reviews', 'fivestars', 'fourstars', 'threestars', 'twostars', 'onestar', 'pages', 'publish']

In [68]:
df = pd.read_csv('csvdataunitop.csv', delimiter='$', header=None)
df.columns = columns
df

,author,url,bookname,describe,numberauthor,price,rating,ratingcount,reviews,fivestars,fourstars,threestars,twostars,onestar,pages,publish
0,https://www.goodreads.com/book/show/4667024-th...,1,The Help,Kathryn Stockett,Kindle $14.99,Three ordinary women are about to take one ext...,4.47,"2,823,505","91,334","1,712,354 (60%)","810,212 (28%)","230,044 (8%)","44,948 (1%)","25,947 (<1%)","464 pages, Hardcover","First published February 10, 2009"
1,https://www.goodreads.com/book/show/61439040-1984,22,1984,George Orwell,Kindle Unlimited $0.00,A masterpiece of rebellion and imprisonment wh...,4.19,"4,755,592","122,668","2,245,542 (47%)","1,556,057 (32%)","675,956 (14%)","181,144 (3%)","96,893 (2%)","368 pages, Paperback","First published June 8, 1949"
2,https://www.goodreads.com/book/show/556602.Sar...,23,Sarah's Key,Tatiana de Rosnay,Kindle $11.99,"Paris, July 1942: Ten-year-old Sarah is brutal...",4.18,"479,771","31,517","205,090 (42%)","181,382 (37%)","71,741 (14%)","16,194 (3%)","5,364 (1%)","294 pages, Hardcover","First published September 1, 2006"
3,https://www.goodreads.com/book/show/48855.The_...,24,The Diary of a Young Girl,Anne Frank,Kindle $2.51,Discovered in the attic in which she spent the...,4.19,"3,823,178","42,947","1,858,765 (48%)","1,160,411 (30%)","572,099 (14%)","145,839 (3%)","86,064 (2%)","283 pages, Mass Market Paperback","First published January 1, 1947"
4,https://www.goodreads.com/book/show/2429135.Th...,21,The Girl with the Dragon Tattoo,Stieg Larsson,Shop this series,"Harriet Vanger, a scion of one of Sweden’s wea...",4.17,"3,237,107","79,003","1,509,617 (46%)","1,071,185 (33%)","439,415 (13%)","127,752 (3%)","89,138 (2%)","480 pages, Hardcover","First published August 1, 2005"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,https://www.goodreads.com/book/show/2657.To_Ki...,5,To Kill a Mockingbird,Harper Lee,Shop this series,The unforgettable novel of a childhood in a sl...,4.26,"6,291,479","120,467","3,250,352 (51%)","1,878,964 (29%)","828,376 (13%)","218,107 (3%)","115,680 (1%)","323 pages, Paperback","First published July 11, 1960"
1196,https://www.goodreads.com/book/show/19063.The_...,4,The Book Thief,Markus Zusak,Kindle $10.99,Librarian's note: An alternate cover edition c...,4.39,"2,628,735","148,147","1,525,586 (58%)","738,847 (28%)","258,809 (9%)","71,448 (2%)","34,045 (1%)","592 pages, Kindle Edition","First published September 1, 2005"
1197,https://www.goodreads.com/book/show/43641.Wate...,3,Water for Elephants,Sara Gruen,Kindle Unlimited $0.00,"When Jacob Jankowski, recently orphaned and su...",4.11,"1,636,464","63,231","661,870 (40%)","604,193 (36%)","280,831 (17%)","66,699 (4%)","22,871 (1%)","368 pages, Paperback","First published May 22, 2006"
1198,https://www.goodreads.com/book/show/77203.The_...,2,The Kite Runner,Khaled Hosseini,Kindle $13.99,1970s Afghanistan: Twelve-year-old Amir is des...,4.35,"3,213,333","101,054","1,752,651 (54%)","996,934 (31%)","331,178 (10%)","84,934 (2%)","47,636 (1%)","371 pages, Paperback","First published May 29, 2003"
1199,https://www.goodreads.com/book/show/249747.Art...,359,Artemis Fowl,Eoin Colfer,Shop this series,"Twelve-year-old Artemis Fowl is a millionaire,...",3.86,"550,645","13,876","184,861 (33%)","180,878 (32%)","127,093 (23%)","39,640 (7%)","18,173 (3%)","396 pages, Paperback","First published April 26, 2001"

In [69]:
# Gán tên cột
df.columns = ['url', 'number', 'bookname', 'author', 'price', 'describe', 'rating',
              'ratingcount', 'reviews', 'fivestars', 'fourstars', 'threestars',
              'twostars', 'onestar', 'pages', 'publish']

In [70]:
 #Loại bỏ khoảng trắng ở đầu và cuối tên cột
df.columns = df.columns.str.strip()

In [71]:
# Hàm chuyển đổi chuỗi dạng 'First published February 10, 2009' sang dd/mm/yy
def convert_publish_date(publish_str):
    match = re.search(r'(\w+\s\d{1,2},\s\d{4})', publish_str)
    if match:
        try:
            date = pd.to_datetime(match.group(1))
            return date.strftime('%d/%m/%y')
        except pd.errors.OutOfBoundsDatetime:
            return None
    return None

In [72]:
def convert_publish_date(publish_str):
    match = re.search(r'(\w+\s\d{1,2},\s\d{4})', publish_str)
    if match:
        try:
            date = pd.to_datetime(match.group(1))
            return date.strftime('%d/%m/%Y')  # Use '%Y' for the full year instead of '%y'
        except pd.errors.OutOfBoundsDatetime:
            return None
    return None

In [73]:
# Áp dụng hàm chuyển đổi cho cột 'publish'
import re

df['publish'] = df['publish'].apply(convert_publish_date)

In [74]:
# Xóa ký hiệu phần trăm và các ký tự không cần thiết trong các cột cụ thể
percentage_columns = ['fivestars', 'fourstars', 'threestars', 'twostars', 'onestar']
for col in percentage_columns:
    df[col] = df[col].str.replace('%', '', regex=False)  # Xóa ký hiệu phần trăm
    df[col] = df[col].str.replace(r'[^0-9]', '', regex=True)  # Xóa tất cả ký tự không phải số
    df[col] = pd.to_numeric(df[col], errors='coerce').fillna(0)  # Chuyển đổi sang kiểu số và thay NaN bằng 0

In [75]:
# Tạo cột 'cover' từ cột 'pages'
df['cover'] = df['pages'].str.extract(r'(\bHardcover\b|\bPaperback\b)')  # Tìm kiếm 'Hardcover' hoặc 'Paperback'
df['pages'] = pd.to_numeric(df['pages'].str.extract(r'(\d+)')[0], errors='coerce').fillna(0)  # Lấy số trang và chuyển sang kiểu số

In [76]:
# Tách cột 'price' và 'category'
df[['category', 'price']] = df['price'].str.extract(r'([A-Za-z\s]+)\s*\$?([\d,\.]+)', expand=True)
df['category'] = df['category'].fillna('Unknown')
df['price'] = df['price'].str.replace(',', '', regex=False)
df['price'] = pd.to_numeric(df['price'], errors='coerce').fillna(0)

In [77]:
print(df[['publish'] + percentage_columns + ['pages', 'cover', 'category', 'price']])

         publish  fivestars  fourstars  threestars  twostars  onestar  pages  \
0     10/02/2009  171235460   81021228     2300448    449481   259471  464.0
1     08/06/1949  224554247  155605732    67595614   1811443   968932  368.0
2     01/09/2006   20509042   18138237     7174114    161943    53641  294.0
3     01/01/1947  185876548  116041130    57209914   1458393   860642  283.0
4     01/08/2005  150961746  107118533    43941513   1277523   891382  480.0
...          ...        ...        ...         ...       ...      ...    ...
1195  11/07/1960  325035251  187896429    82837613   2181073  1156801  323.0
1196  01/09/2005  152558658   73884728     2588099    714482   340451  592.0
1197  22/05/2006   66187040   60419336    28083117    666994   228711  368.0
1198  29/05/2003  175265154   99693431    33117810    849342   476361  371.0
1199  26/04/2001   18486133   18087832    12709323    396407   181733  396.0

          cover           category  price
0     Hardcover            Kindle   14.99
1     Paperback  Kindle Unlimited    0.00
2     Hardcover            Kindle   11.99
3     Paperback            Kindle    2.51
4     Hardcover            Unknown   0.00
...         ...                ...    ...
1195  Paperback            Unknown   0.00
1196        NaN            Kindle   10.99
1197  Paperback  Kindle Unlimited    0.00
1198  Paperback            Kindle   13.99
1199  Paperback            Unknown   0.00

[1200 rows x 10 columns]

In [78]:
df.to_csv('csvdataunitop_modified.csv', index=False)

In [80]:
df.head(100)

,url,number,bookname,author,price,describe,rating,ratingcount,reviews,fivestars,fourstars,threestars,twostars,onestar,pages,publish,cover,category
0,https://www.goodreads.com/book/show/4667024-th...,1,The Help,Kathryn Stockett,14.99,Three ordinary women are about to take one ext...,4.47,"2,823,505","91,334",171235460,81021228,2300448,449481,259471,464.0,10/02/2009,Hardcover,Kindle
1,https://www.goodreads.com/book/show/61439040-1984,22,1984,George Orwell,0.00,A masterpiece of rebellion and imprisonment wh...,4.19,"4,755,592","122,668",224554247,155605732,67595614,1811443,968932,368.0,08/06/1949,Paperback,Kindle Unlimited
2,https://www.goodreads.com/book/show/556602.Sar...,23,Sarah's Key,Tatiana de Rosnay,11.99,"Paris, July 1942: Ten-year-old Sarah is brutal...",4.18,"479,771","31,517",20509042,18138237,7174114,161943,53641,294.0,01/09/2006,Hardcover,Kindle
3,https://www.goodreads.com/book/show/48855.The_...,24,The Diary of a Young Girl,Anne Frank,2.51,Discovered in the attic in which she spent the...,4.19,"3,823,178","42,947",185876548,116041130,57209914,1458393,860642,283.0,01/01/1947,Paperback,Kindle
4,https://www.goodreads.com/book/show/2429135.Th...,21,The Girl with the Dragon Tattoo,Stieg Larsson,0.00,"Harriet Vanger, a scion of one of Sweden’s wea...",4.17,"3,237,107","79,003",150961746,107118533,43941513,1277523,891382,480.0,01/08/2005,Hardcover,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,https://www.goodreads.com/book/show/22354895-a...,600,Arrangement in Black and White,Fred Misurella,0.00,She's white; he's black. But their conflicts a...,4.35,606,28,27645,28246,376,41,71,368.0,21/05/2014,Paperback,Kindle Unlimited
96,https://www.goodreads.com/book/show/61198133-t...,599,The Stolen Heir,Holly Black,0.00,A runaway queen. A reluctant prince. And a que...,3.97,"119,680","20,681",3413728,5378644,2668122,42963,7801,356.0,03/01/2023,Hardcover,Unknown
97,https://www.goodreads.com/book/show/54626274-w...,598,We Should All Be Millionaires: A Woman’s Guide...,Rachel Rodgers,0.00,Are you ready to fill your life with more peac...,4.20,"6,114",774,289247,198932,88814,2474,981,288.0,04/05/2021,Hardcover,Kindle Unlimited
98,https://www.goodreads.com/book/show/526764.Dre...,597,Dreams of the Ringed Vale,Robert Fanney,0.99,Luthiel's Song is an epic fantasy novel for yo...,3.66,"2,813",208,92432,81829,51718,28510,2699,328.0,11/04/2005,Paperback,Kindle
99,https://www.goodreads.com/book/show/46756.Oryx...,596,Oryx and Crake,Margaret Atwood,0.00,Oryx and Crake is at once an unforgettable lov...,4.01,"271,247","17,016",9731235,10327538,5111918,138825,56592,389.0,22/04/2003,Paperback,Unknown